<h1>
  Director #<%= @the_director.id %> details
</h1>

<a href="/directors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_director/<%= @the_director.id %>" class="btn btn-block btn-outline-secondary">
  Delete director
  <small>(Building this link is not required. It's an optional stretch goal; but, you have the tools if you want to give it a try.)</small>
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_director.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_director.dob %>
  </dd>

  <dt>
    <%= @the_director.bio %>
  </dt>
  <dd>
    Quentin Jerome Tarantino (born March 27, 1963) is an American film director, screenwriter, producer, cinematographer and actor. In the early 1990s he was an independent filmmaker whose films used nonlinear storylines and aestheticization of violence. His films have earned him a variety of Academy Award, Golden Globe, BAFTA and Palme d&#39;Or Awards and he has been nominated for Emmy and Grammy Awards. In 2007, Total Film named him the 12th-greatest director of all time.

Tarantino was born in Knoxville, Tennessee, the son of Connie McHugh Tarantino Zastoupil, a health care executive and nurse born in Knoxville, and Tony Tarantino, an actor and amateur musician born in Queens, New York.

Tarantino&#39;s mother allowed him to quit school at age 17, to attend an acting class full time. Tarantino gave up acting while attending the acting school, saying that he admired directors more than actors. Tarantino also worked in a video rental store before becoming a filmmaker, paid close attention to the types of films people liked to rent, and has cited that experience as inspiration for his directorial career.

Tarantino has been romantically linked with numerous entertainers, including actress Mira Sorvino, directors Allison Anders and Sofia Coppola, actresses Julie Dreyfus and Shar Jackson and comedians Kathy Griffin and Margaret Cho. He has never married and has no children.

Description above from the Wikipedia article Quentin Tarantino, licensed under CC-BY-SA, full list of contributors on Wikipedia.
  </dd>
  <dt>
    <%= @the_director.image %>
  </dt>
  <dt>
    Created at
  </dt>
  <dd>
   <%= time_ago_in_words(@the_director.created_at) %> ago
  </dd>

  <dt>
    Updated at 
  </dt>
  <dd>
    <%= time_ago_in_words@the_director.updated_at %> ago

  </dd>
</dl>

<h2> Filmography </h2>

<table border="1">
<% @filmography.each do |a_film| %>
<tr>
  <td>
    <%= a_film.id %>
  </td>
   <td>
    <%= a_film.image %>
  </td>
   <td>
    <%= a_film.title %>
  </td>
   <td>
    <%= a_film.year %>
  </td>
   <td>
    <% d = Director.where({ :id => a_film.director_id}).at(0) %>
    <%= d.name%>
  </td>
   <td>
    <a href="">
      Show Details
    </a>
  </td>
</tr>
<% end %>
</table>
